/*Universal and general selectors*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 10px 35px;
    margin: 0 auto;
    z-index: 9999;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
}

.container {
    margin-top: 5px;
}

h1 {
    color: white;
    align-self: center;
}

.search-contain {
    width: 25%;
}

.weather-contain {
    border: 2px solid black;
}

.day-contain {
    display: flex;
    justify-content: space-between;
}

.day-style {
    border: 2px solid black;
    margin: 0 10px;
    background-color: cornflowerblue;
    color: white;
}

.uv-low {
    background-color: lightgreen;
    padding: 0 5px;
}

.uv-moderate {
    background-color: yellow;
    padding: 0 5px;
}

.uv-high {
    background-color: tomato;
    padding: 0 5px;
}

.uv-very-high {
    background-color: red;
    padding: 0 5px;
}

.uv-extreme {
    background-color: lightskyblue;
    padding: 0 5px;
}