/*Universal and general selectors*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 10px 35px;
    margin: 0 auto;
    z-index: 9999;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
}

.container {
    margin-top: 5px;
}

h1 {
    color: white;
}

/*Search container styling*/
.search-contain {
    width: 25%;
    border: 2px solid black;
    min-height: 468px;
}

#city-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searched-city {
    border: 2px solid black;
    width: 60%;
    border-radius: 15px;
    text-align: center;
    margin: 0 0 10px 0;
    background-color: lightgrey;
    color: black;
    text-align: center;
}

#search-value {
    margin: 10px 0;
    border: 2px solid black;
    width: 100%;
}

#search-button {
    margin: 0 0 10px 0;
    width: 100%;
    background-color: cornflowerblue;
    color: white;
}

#divide {
    margin-top: 2px;
    margin-bottom: 10px;
    border: .01rem solid black;
}

/*Current date styling*/
.weather-contain {
    border: 2px solid black;
    margin-left: 10px;
    background-color: cornflowerblue;
    color: white;
}

#current-city{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: 800;
}

#current-date{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 700;
}

#current-temp,
#current-wind,
#current-humid,
#current-uv {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    line-height: 2;
}

/*Styling for UV color*/
#uv-color {
    color: black;
}

.uv-low {
    background-color: lightgreen;
    padding: 0 10px;
    border-radius: 10px;
}

.uv-moderate {
    background-color: yellow;
    padding: 0 10px;
    border-radius: 10px;
}

.uv-high {
    background-color: tomato;
    padding: 0 10px;
    border-radius: 10px;
}

.uv-very-high {
    background-color: red;
    padding: 0 10px;
    border-radius: 10px;
}

.uv-extreme {
    background-color: lightskyblue;
    padding: 0 10px;
    border-radius: 10px;
}

/*Styling for forecase*/
.day-contain {
    display: flex;
    justify-content: space-between;
    line-height: 2;
}

.day-style {
    border: 2px solid black;
    margin: 0 10px;
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    flex-basis: 17%;
}